.container {
  padding-block: 1rem;
  padding-inline: 2rem;

  &__titol {
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    @media (min-width: $mq-min-tablet-width) and (max-width: $mq-max-tablet-width) {
      font-size: 30px;
    }

    @media (min-width: $mq-min-desktop-width) {
      font-size: 36px;
    }
  }

  .row {
    // Box model
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
    margin-inline: 0.5rem;
    padding-block: 1rem;
    padding-inline: 2rem;

    @media (min-width: $mq-min-desktop-width) {
      flex-direction: row;
      align-items: start;
    }

    // Visual
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(71 108 119 / 14%),
    0 2px 4px -1px rgb(71 108 119 / 10%);

    .bloc {
      // Box model
      display: flex;
      flex-direction: column;
      margin-right: 0.5rem;
      margin-left: 0.5rem;

      &__titol {
        text-align: center;

        @media (min-width: $mq-min-desktop-width) {
          text-align: right;
        }
      }

      &__imatge {
        // Box model
        width: 250px;

        // Visual
        border-radius: 20px;

        @media (min-width: $mq-min-tablet-width) and (max-width: $mq-max-tablet-width) {
          width: 300px;
          border-radius: 30px;
        }

        @media (min-width: $mq-min-desktop-width) {
          &--margin-top {
            margin-top: 5rem;
          }

          width: 350px;
          border-radius: 50px;
        }
      }

      &__text {
        text-align: justify;
      }
    }
  }
}