.footer {
  // Box model
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 100%;

  // Tipografia
  font-size: 0.75rem;
  color: $blog-secondary;
  text-align: center;

  // Visual
  background-color: $blog-primary;
}