.galeria {
  // Box model
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

  @media (min-width: $mq-min-tablet-width) and (max-width: $mq-max-tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media (min-width: $mq-min-desktop-width) {
    grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
  }

  &__imatge {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 20%);
    max-width: 100%;

    // Visual 
    border-radius: 20px;
  }
}