.header {
  // Box Model
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 4rem;

  @media (min-width: $mq-min-tablet-width) {
    flex-direction: row;
    justify-content: right;

    &__titol {
      order: 1;
    }

    &__nav {
      order: 2;
    }
  }

  &__device {
    // Posicionament
    position: fixed;
    top: 0;
    left: 0;

    // Box model
    margin-top: 10px;
    margin-left: 15px;

    @media (max-width: $mq-max-mobile-width) {
      &--hidden-tablet,
      &--hidden-desktop {
        display: none;
      }
    }

    @media (min-width: $mq-min-tablet-width) and (max-width: $mq-max-tablet-width) {
      &--hidden-mobile,
      &--hidden-desktop {
        display: none;
      }
    }

    @media (min-width: $mq-min-desktop-width) {
      &--hidden-mobile,
      &--hidden-tablet {
        display: none;
      }
    } 

    // Tipografia
    font-size: 20px;
    color: $blog-secondary;

  }
  
  // Visual
  background-color: $blog-primary;
}

.menu {
  // Box Model
  padding-inline: 0;

  @media (min-width: $mq-min-tablet-width) {
    display: flex;
  }

  // Visual
  list-style: none;


  &__item {
    // Box model
    padding-inline: 0.5rem;

    // Tipografia
    text-decoration: none;
  }

  &__link {
    // Tipografia
    font-weight: 700;
    color: $blog-secondary;

    // Visual
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}