.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 4rem;

  @media (min-width: $mq-min-tablet-width) {
    flex-direction: row;
    justify-content: space-between;

    &__titol {
      order: 1;
    }

    &__nav {
      order: 2;
    }

    &__menu {
      display: flex;
    }
  }

  &__link {
    font: $font-family-sans-serif ;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: $blog-secondary;
    text-align: center;
    text-decoration: none;

    @media (min-width: $mq-min-tablet-width) and (max-width: $mq-max-tablet-width) {
      font-size: 36px;
    }

    @media (min-width: $mq-min-desktop-width) {
      font-size: 40px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__menu {
    list-style: none;
    padding-inline: 0;

    &-item{
      // Box model
      padding-inline: 0.5rem;

      // Visual
      text-decoration: none;
    } 
    
    &-link{
      // Tipografia
      font-weight: 700;
      color: $blog-secondary;
      
      // Visual
      text-decoration: none;
    
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__device {
    // Box model
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 15px;

    // Tipografia
    font-size: 20px;
    color: $blog-secondary;

    @media (max-width: $mq-max-mobile-width) {
      &--hidden-tablet,
      &--hidden-desktop {
        display: none;
      }
    }

    @media (min-width: $mq-min-tablet-width) and (max-width: $mq-max-tablet-width) {
      &--hidden-mobile,
      &--hidden-desktop {
        display: none;
      }
    }

    @media (min-width: $mq-min-desktop-width) {
      &--hidden-mobile,
      &--hidden-tablet {
        display: none;
      }
    }

  }

  background-color: $blog-primary;
}