.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 4rem;

  @media (min-width: $mq-min-tablet-width) {
    justify-content: right;
  }

  &__device {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 15px;

    @media (max-width: $mq-max-mobile-width) {
      &--hidden-tablet,
      &--hidden-desktop {
        display: none;
      }
    }

    @media (min-width: $mq-min-tablet-width) and (max-width: $mq-max-tablet-width) {
      &--hidden-mobile,
      &--hidden-desktop {
        display: none;
      }
    }

    @media (min-width: $mq-min-desktop-width) {
      &--hidden-mobile,
      &--hidden-tablet {
        display: none;
      }
    }

    font-size: 20px;
    color: $blog-secondary;

  }

  background-color: $blog-primary;
}

.menu {
  padding-inline: 0;

  @media (min-width: $mq-min-tablet-width) {
    display: flex;
    flex-direction: row;
  }

  list-style: none;

  &__item {
    padding-inline: 0.5rem;
    text-decoration: none;
  }

  &__link {
    font-weight: 700;
    color: $blog-secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}