.portada {
  // Box Model
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  @media (min-width: $mq-min-tablet-width) {
    flex-flow: row;
  }

  &__bloc {
    // Box Model
    flex-grow: 1;
    width: 100%;
  
    @media (min-width: $mq-min-tablet-width) {
      width: 50%;
    }

    // Tipografia
    text-align: center;
  }

  &__imatge {
    // Box Model
    width: 100%; 
    height: 100%;      
    object-fit: cover;
  }

  &__text {
    // Box Model
    padding-block: 5rem;

    @media (min-width: $mq-min-tablet-width) {
      padding-block: 0;
    }

    // Tipografia
    font-family: $font-title;
    font-weight: bold;
  }
  
  &-link {
    // Tipografia
    font-weight: 700;
    color: $blog-secondary;

    // Visual
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  
  // Visual
  background-color: $portada-bg;
}