.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  @media (min-width: $mq-min-tablet-width) {
    flex-flow: row;
  }

  &__bloc {
    flex-grow: 1;
    width: 100%;

    @media (min-width: $mq-min-tablet-width) {
      width: 50%;
    }

    text-align: center;
  }

  &__imatge {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    padding-block: 5rem;

    @media (min-width: $mq-min-tablet-width) {
      padding-block: 0;
    }

    font-family: $font-title;
    font-weight: bold;
  }

  &__link {
    font-weight: 700;
    color: $blog-secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  background-color: $portada-bg;
}