.recepta {
  // Box model
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;


  &__titol {
    text-align: center;
    flex: 100%;

    @media (min-width: $mq-min-desktop-width) {
      text-align: left;
    }

  }

  &__seccio {
    flex: 100%;

    @media (min-width: $mq-min-tablet-width) {
      flex: 50%;
      display: inline;
    }
  }
}