.recepta {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-block: 1rem;
  margin-inline: 0.5rem;
  padding-block: 1rem;

  &__titol {
    flex: 100%;
    text-align: center;

    @media (min-width: $mq-min-desktop-width) {
      text-align: left;
    }
  }
}

.seccio {
  flex: 100%;

  @media (min-width: $mq-min-tablet-width) {
    flex: 50%;
    display: inline;
  }

  &__llista {
    text-align: justify;
  }

  &__link {
    font-weight: 700;
    color: $blog-primary;
    text-decoration: none;

    &:hover {
      color: rgb(0 0 0);
    }
  }
}