<div class="row">
  <div class="bloc">
    <h2 class="bloc__titol">Afició per la cuina</h2>
    <picture>
      <source srcset="./assets/images/logo.png?as=webp" type="image/webp">
      <img class="bloc__imatge" src="./assets/images/logo.png" alt="Receptes Saforauis Blog">
    </picture>
  </div>
  <div class="bloc">
    <p class="bloc__text">
      Quan vaig anar a estudiar a la universitat trobava a faltar la cuina de casa. Va ser llavors quan vaig optar per
      aprendre a fer les receptes tradicionals del meu poble i va despertar el meu interés per la cuina.
    </p>
    <p class="bloc__text">
      Ara tinc un blog de cuina on he digitalitzat dites receptes per tindre-les sempre a mà,
      intente anar afegint noves receptes conforme vaig cuinant-les i aprenent-les.
      No hi ha res com mantindre les tradicions culinaries.
    </p>
  </div>
</div>