<div class="row">
  <div class="row__col">
    <h2>Afició per la cuina</h2>
    <picture>
      <source srcset="./assets/images/logo.png?as=webp&width=350" type="image/webp" />
      <img src="./assets/images/logo.png?width=350" alt="Receptes Saforauis Blog" class="blog-logo" />
    </picture>
  </div>
  <div class="row__col">
    <p>
      Quan vaig anar a estudiar a la universitat trobava a faltar la cuina de casa. Va ser llavors quan vaig optar per
      aprendre a fer les receptes tradicionals del meu poble i va despertar el meu interés per la cuina. Ara tinc un
      blog de cuina on he digitalitzat dites receptes per tindre-les sempre a mà.
    </p>
  </div>
</div>