<div class="row">
  <div class="galeria" id="galeria">
    <figure class="galeria__figura imghvr-fade">
      <img class="galeria__figura-imatge" src="./assets/images/sang-ceba.jpg" alt="Sang amb ceba">
      <figcaption class="galeria__figcaption">
        <p class="galeria__figcaption-text">Sang amb ceba</p>
      </figcaption>
    </figure>
    <figure class="galeria__figura imghvr-fade"><img class="galeria__figura-imatge" src="./assets/images/figatells.jpg"
        alt="Figatells">
      <figcaption class="galeria__figcaption">
        <p class="galeria__figcaption-text">Figatells</p>
      </figcaption>
    </figure>
    <figure class="galeria__figura imghvr-fade"><img class="galeria__figura-imatge" src="./assets/images/arros-forn.jpg"
        alt="Arros al forn">
      <figcaption class="galeria__figcaption">
        <p class="galeria__figcaption-text">Arros al forn</p>
      </figcaption>
    </figure>
    <figure class="galeria__figura imghvr-fade"><img class="galeria__figura-imatge" src="./assets/images/mullador.jpg"
        alt="Mullador">
      <figcaption class="galeria__figcaption">
        <p class="galeria__figcaption-text">Mullador</p>
      </figcaption>
    </figure>
    <figure class="galeria__figura imghvr-fade"><img class="galeria__figura-imatge"
        src="./assets/images/pollastre-forn.jpg" alt="Pollastre al forn">
      <figcaption class="galeria__figcaption">
        <p class="galeria__figcaption-text">Pollastre al forn</p>
      </figcaption>
    </figure>
    <figure class="galeria__figura imghvr-fade"><img class="galeria__figura-imatge" src="./assets/images/monjovena.jpg"
        alt="Monjovena">
      <figcaption class="galeria__figcaption">
        <p class="galeria__figcaption-text">Monjovena</p>
      </figcaption>
    </figure>
    <figure class="galeria__figura imghvr-fade"><img class="galeria__figura-imatge" src="./assets/images/bunyols.jpg"
        alt="Bunyols de carabassa">
      <figcaption class="galeria__figcaption">
        <p class="galeria__figcaption-text">Bunyols de carabassa</p>
      </figcaption>
    </figure>
    <figure class="galeria__figura imghvr-fade"><img class="galeria__figura-imatge"
        src="./assets/images/pastis-carabassa.jpg" alt="Pastis de carabassa">
      <figcaption class="galeria__figcaption">
        <p class="galeria__figcaption-text">Pastis de carabassa</p>
      </figcaption>
    </figure>
  </div>
</div>