<div class="row">
  <div class="galeria">
    <figure class="fotografia imghvr-fade">
      <img class="fotografia__imatge" src="./assets/images/sang-ceba.jpg" alt="Sang amb ceba">
      <figcaption class="fotografia__text">Sang amb ceba</figcaption>
    </figure>
    <figure class="fotografia imghvr-fade">
      <img class="fotografia__imatge" src="./assets/images/figatells.jpg" alt="Figatells">
      <figcaption class="fotografia__text">Figatells</figcaption>
    </figure>
    <figure class="fotografia imghvr-fade">
      <img class="fotografia__imatge" src="./assets/images/arros-forn.jpg" alt="Arros al forn">
      <figcaption class="fotografia__text">Arros al forn</figcaption>
    </figure>
    <figure class="fotografia imghvr-fade">
      <img class="fotografia__imatge" src="./assets/images/mullador.jpg" alt="Mullador">
      <figcaption class="fotografia__text">Mullador</figcaption>
    </figure>
    <figure class="fotografia imghvr-fade">
      <img class="fotografia__imatge" src="./assets/images/pollastre-forn.jpg" alt="Pollastre al forn">
      <figcaption class="fotografia__text">Pollastre al forn</figcaption>
    </figure>
    <figure class="fotografia imghvr-fade">
      <img class="fotografia__imatge" src="./assets/images/monjovena.jpg" alt="Monjovena">
      <figcaption class="fotografia__text">Monjovena</figcaption>
    </figure>
    <figure class="fotografia imghvr-fade">
      <img class="fotografia__imatge" src="./assets/images/bunyols.jpg" alt="Bunyols de carabassa">
      <figcaption class="fotografia__text">Bunyols de carabassa</figcaption>
    </figure>
    <figure class="fotografia imghvr-fade">
      <img class="fotografia__imatge" src="./assets/images/pastis-carabassa.jpg" alt="Pastis de carabassa">
      <figcaption class="fotografia__text">Pastis de carabassa</figcaption>
    </figure>
  </div>
</div>