<div class="row">
    <div class="galeria">
        <img class="galeria__imatge" src="./assets/images/arros-forn.jpg" alt="Arros al forn">
        <img class="galeria__imatge" src="./assets/images/mullador.jpg" alt="Mullador">
        <img class="galeria__imatge" src="./assets/images/sang-ceba.jpg" alt="Sang amb ceba">
        <img class="galeria__imatge" src="./assets/images/monjovena.jpg" alt="Monjovena">
        <img class="galeria__imatge" src="./assets/images/bunyols.jpg" alt="Bunyols">
        <img class="galeria__imatge" src="./assets/images/pebreres-farcides.jpg" alt="Pebreres farcides">
    </div>
</div>