<header class="header" id="header">
  <p class="header__device">
    <i class="header__device--hidden-mobile fa-solid fa-mobile-screen"></i>
    <i class="header__device--hidden-tablet fa-solid fa-tablet-screen-button"></i>
    <i class="header__device--hidden-desktop fa-solid fa-desktop"></i>
  </p>
  <nav class="header__nav">
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="#titol-galeria">Galeria</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#titol-receptes">Receptes</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#titol-about-me">Sobre mi</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="https://receptessaforauis.wordpress.com/" target="_blank">Lloc web</a>
      </li>
    </ul>
  </nav>
</header>