<header class="header" id="header">
  <p class="header__device">
    <i class="header__device--hidden-mobile fa-solid fa-mobile-screen"></i>
    <i class="header__device--hidden-tablet fa-solid fa-tablet-screen-button"></i>
    <i class="header__device--hidden-desktop fa-solid fa-desktop"></i>
  </p>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__menu-item">
        <a class="header__menu-link" href="#galeria">Galeria</a>
      </li>
      <li class="header__menu-item">
        <a class="header__menu-link" href="#receptes">Receptes</a>
      </li>
      <li class="header__menu-item">
        <a class="header__menu-link" href="#about_me">Sobre mi</a>
      </li>
      <li class="header__menu-item">
        <a class="header__menu-link" href="https://receptessaforauis.wordpress.com/" target="_blank">Lloc web</a>
      </li>
    </ul>
  </nav>
</header>