<header class="header">
  <h1 class="header__titol animate__animated animate__pulse animate__delay-5s animate__repeat-2">
    <a class="header__link" href="https://receptessaforauis.wordpress.com/" target="_blank"> Receptes Saforauis <i
        class="fa-solid fa-crow"></i></a>
  </h1>
  <p class="header__device">
    <i class="header__device--hidden-mobile fa-solid fa-mobile-screen"></i>
    <i class="header__device--hidden-tablet fa-solid fa-tablet-screen-button"></i>
    <i class="header__device--hidden-desktop fa-solid fa-desktop"></i>
  </p>
</header>