<div class="portada" id="portada">
  <div class="portada__bloc">
    <picture>
      <source srcset="./assets/images/pebreres-farcides.jpg?as=webp" type="image/webp" />
      <img src="./assets/images/pebreres-farcides.jpg" alt="Pebreres farcides" class="portada__imatge" />
    </picture>
  </div>
  <div class="portada__bloc">
    <h1 class="portada__text animate__animated animate__pulse animate__delay-5s animate__repeat-2">
      <a class="header__link" href="https://receptessaforauis.wordpress.com/" target="_blank"> RECEPTES SAFORAUIS <i
          class="fa-solid fa-crow"></i></a>
    </h1>
  </div>
</div>