<div class="row">
  <div class="bloc">
    <picture>
      <source srcset="./assets/images/coca-de-llanda.jpg?as=webp" type="image/webp">
      <img class="bloc__imatge bloc__imatge--margin-top" src="./assets/images/coca-de-llanda.jpg" alt="Coca en llanda">
    </picture>
  </div>
  <div class="bloc">
    <div class="recepta">
      <h2 class="recepta__titol">Coca en llanda</h2>
      <div class="seccio">
        <h3 class="seccio__titol">Ingredients:</h3>
        <ul class="seccio__llista">
          <li class="seccio__item">½ kg sucre</li>
          <li class="seccio__item">½ kg farina</li>
          <li class="seccio__item">4 ous</li>
          <li class="seccio__item">4 mitgetes llet</li>
          <li class="seccio__item">2 mitgetes d’oli</li>
          <li class="seccio__item">4 llimonades(2 A i 2 B)</li>
          <li class="seccio__item">1 i ½ llima rallada</li>
          <li class="seccio__item">Canyella i sucre</li>
        </ul>
      </div>
      <div class="seccio">
        <h3 class="seccio__titol">Elaboració:</h3>
        <ol class="seccio__llista">
          <li class="seccio__item">Prescalfem el forn a 200 ºC</li>
          <li class="seccio__item">Batem els ous i afegim el sucre. Ho barregem ben barrejat.</li>
          <li class="seccio__item">Afegim les paperetes de llimonada A.</li>
          <li class="seccio__item">Afegim l’oli, la llet, la ratlladura de llima i la farina. Quan està tot ben
            barrejat afegim les
            llimonades B.</li>
          <li class="seccio__item">
            <a class="seccio__link" href="https://receptessaforauis.wordpress.com/2021/10/01/coca-en-llandah/"
              target="_blank">
              Llegir més...
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>