<div class="row">
  <div class="bloc">
    <div class="recepta">
      <h2 class="recepta__titol">Aspencat</h2>
      <div class="recepta__seccio">
        <h3 class="recepta__seccio-titol">Ingredients:</h3>
        <ul>
          <li>2 pebreres rojes</li>
          <li>1 albargina</li>
          <li>1 all</li>
        </ul>
      </div>
      <div class="recepta__seccio">
        <h3 class="recepta__seccio-titol">Elaboració:</h3>
        <ol class="recepta__llista">
          <li>Precalfem el forn a 200ºC.</li>
          <li>Preparem la safata del forn posant-li paper vegetal i la posem al fons del forn.</li>
          <li>Posem la reixa a mitja altura i les pebreres i l’albergina damunt.</li>
          <li>Anem pegant-li la volta amb unes tenalles fins que estiga cuit.</li>
          <li>Quan ho hàgem tret, esperem que es gele i li llevem la pell.</li>
          <li>Esgarrem l’albergina i la pebrera a tiretes.</li>
          <li>Laminem l’all finament i ho mesclem tot.</li>
          <li>Deixem que es refrede i ja es pot servir.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="bloc">
    <picture>
      <source srcset="./assets/images/aspencat.jpg?as=webp" type="image/webp" />
      <img src="./assets/images/aspencat.jpg" alt="Aspencat" class="bloc__imatge bloc__imatge--margin-top" />
    </picture>
  </div>
</div>