<div class="row">
  <div class="bloc">
    <picture>
      <source srcset="./assets/images/coca-de-llanda.jpg?as=webp&width=350" type="image/webp" />
      <img src="./assets/images/coca-de-llanda.jpg?width=350" alt="Coca en llanda" class="bloc__imatge" />
    </picture>
  </div>
  <div class="bloc">
    <div class="recepta">
      <h2 class="recepta__titol">Coca en llanda</h2>
      <div class="recepta__seccio">
        <h3 class="recepta__seccio-titol">Ingredients:</h3>
        <ul class="recepta__llista">
          <li>½ kg sucre</li>
          <li>½ kg farina</li>
          <li>4 ous</li>
          <li>4 mitgetes llet</li>
          <li>2 mitgetes d’oli</li>
          <li>4 llimonades(2 A i 2 B)</li>
          <li>1 i ½ llima rallada</li>
          <li>Canyella i sucre</li>
        </ul>
      </div>
      <div class="recepta__seccio">
        <h3 class="recepta__seccio-titol">Elaboració:</h3>
        <ol>
          <li>Prescalfem el forn a 200 ºC</li>
          <li>Batem els ous i afegim el sucre. Ho barregem ben barrejat.</li>
          <li>Afegim les paperetes de llimonada A.</li>
          <li>Afegim l’oli, la llet, la ratlladura de llima i la farina. Quan està tot ben barrejat afegim les
            llimonades B.</li>
          <li>Posem la mescla en la llauna, que prèviament haurem forrat amb paper de forn.</li>
          <li>Espolvoregem per damunt el sucre amb canella.</li>
          <li>Quan posem la coca baixem la temperatura del forn a 180 ºC.</li>
          <li>Als 10 min baixem la temperatura un poc més.</li>
          <li>En total estarà al forn uns 30/35 min.</li>
          <li>Una vegada passats els 30 min. anirem punxant la coca per a vore quan està llesta, ho sabrem quan el
            ganivet isca totalment net.</li>
        </ol>
      </div>
    </div>
  </div>
</div>