<div class="row">
  <div class="bloc">
    <picture>
      <source srcset="./assets/images/coca-de-llanda.jpg?as=webp" type="image/webp" />
      <img src="./assets/images/coca-de-llanda.jpg" alt="Coca en llanda"
        class="bloc__imatge bloc__imatge--margin-top" />
    </picture>
  </div>
  <div class="bloc">
    <div class="recepta">
      <h2 class="recepta__titol">Coca en llanda</h2>
      <div class="recepta__seccio">
        <h3 class="recepta__seccio-titol">Ingredients:</h3>
        <ul class="recepta__seccio-llista">
          <li class="recepta__seccio-item">½ kg sucre</li>
          <li class="recepta__seccio-item">½ kg farina</li>
          <li class="recepta__seccio-item">4 ous</li>
          <li class="recepta__seccio-item">4 mitgetes llet</li>
          <li class="recepta__seccio-item">2 mitgetes d’oli</li>
          <li class="recepta__seccio-item">4 llimonades(2 A i 2 B)</li>
          <li class="recepta__seccio-item">1 i ½ llima rallada</li>
          <li class="recepta__seccio-item">Canyella i sucre</li>
        </ul>
      </div>
      <div class="recepta__seccio">
        <h3 class="recepta__seccio-titol">Elaboració:</h3>
        <ol class="recepta__seccio-llista">
          <li class="recepta__seccio-item">Prescalfem el forn a 200 ºC</li>
          <li class="recepta__seccio-item">Batem els ous i afegim el sucre. Ho barregem ben barrejat.</li>
          <li class="recepta__seccio-item">Afegim les paperetes de llimonada A.</li>
          <li class="recepta__seccio-item">Afegim l’oli, la llet, la ratlladura de llima i la farina. Quan està tot ben
            barrejat afegim les
            llimonades B.</li>
          <li class="recepta__seccio-item">
            <a class="recepta__seccio-link" href="https://receptessaforauis.wordpress.com/2021/10/01/coca-en-llandah/"
              target="_blank">
              Llegir més...
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>