<div class="row">
  <div class="bloc">
    <picture>
      <source srcset="./assets/images/aspencat.jpg?as=webp" type="image/webp">
      <img class="bloc__imatge bloc__imatge--margin-top" src="./assets/images/aspencat.jpg" alt="Aspencat">
    </picture>
  </div>
  <div class="bloc">
    <div class="recepta">
      <h2 class="recepta__titol">Aspencat</h2>
      <div class="seccio">
        <h3 class="seccio__titol">Ingredients:</h3>
        <ul class="seccio__llista">
          <li class="seccio__item">2 pebreres rojes</li>
          <li class="seccio__item">1 albargina</li>
          <li class="seccio__item">1 all</li>
        </ul>
      </div>
      <div class="seccio">
        <h3 class="seccio__titol">Elaboració:</h3>
        <ol class="seccio__llista">
          <li class="seccio__item">Precalfem el forn a 200ºC.</li>
          <li class="seccio__item">Preparem la safata del forn posant-li paper vegetal i la posem al fons del
            forn.</li>
          <li class="seccio__item">Posem la reixa a mitja altura i les pebreres i l’albergina damunt.</li>
          <li class="seccio__item">Anem pegant-li la volta amb unes tenalles fins que estiga cuit.</li>
          <li class="seccio__item">
            <a class="seccio__link" href="https://receptessaforauis.wordpress.com/2022/01/22/aspencat/" target="_blank">
              Llegir més...
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>