<div class="row">
  <div class="row__col">
    <div class="recepta">
      <h2 class="recepta__titol">Aspencat</h2>
      <div class="recepta__ingredients">
        <h3 class="recepta__ingredients__titol">Ingredients:</h3>
        <ul>
          <li>2 pebreres rojes</li>
          <li>1 albargina</li>
          <li>1 all</li>
        </ul>
      </div>
      <div class="recepta__elaboracio">
        <h3 class="recepta__elaboracio__titol">Elaboració:</h3>
        <ol>
          <li>Precalfem el forn a 200ºC.</li>
          <li>Preparem la safata del forn posant-li paper vegetal i la posem al fons del forn.</li>
          <li>Posem la reixa a mitja altura i les pebreres i l’albergina damunt.</li>
          <li>Anem pegant-li la volta amb unes tenalles fins que estiga cuit.</li>
          <li>Quan ho hàgem tret, esperem que es gele i li llevem la pell.</li>
          <li>Esgarrem l’albergina i la pebrera a tiretes.</li>
          <li>Laminem l’all finament i ho mesclem tot.</li>
          <li>Deixem que es refrede i ja es pot servir.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row__col">
    <picture>
      <source srcset="./assets/images/aspencat.jpg?as=webp&width=350" type="image/webp" />
      <img src="./assets/images/aspencat.jpg?width=350" alt="Aspencat" class="recepta__imatge" />
    </picture>
  </div>
</div>