@use "sass:color";

$mq-max-mobile-width: 767px;
$mq-min-tablet-width: 768px;
$mq-max-tablet-width: 1023px;
$mq-min-desktop-width: 1024px;
$font-title: 'Pompiere', sans-serif;
$font-text: 'Comfortaa Variable', sans-serif;
$blog-primary: #476c77;
$blog-secondary: #edf4f4;
$blog-bg: color.scale($blog-secondary, $lightness: 20%);
$portada-bg: color.scale($blog-primary, $blackness: 15%);