@use "sass:color";

// Tipografia
$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-title:'Vibes', sans-serif;
$font-text:'Comfortaa Variable', sans-serif;
$blog-primary: #476c77;
$blog-secondary: #edf4f4;
$blog-bg: color.scale($blog-secondary, $lightness: 70%);
$portada-bg: color.scale($blog-primary, $blackness: 15%);

// Media Query mides
$mq-max-mobile-width: 767px;
$mq-min-tablet-width: 768px;
$mq-max-tablet-width: 1023px;
$mq-min-desktop-width: 1024px;