@use "sass:color";

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$blog-primary: #476C77;
$blog-secondary: #EDF4F4;
$uoc-bg: color.scale($blog-secondary, $lightness: 70%);
$mq-min-width: 420px;
